.front-box
    position: relative
    padding-top: 12em
    margin-bottom: 3em
    overflow: hidden
    > div
        position: relative
        top: 0em
        background: $white
        padding: 1em 1em 0 0
        +desktop
            margin-right: 9em
        h2
            font-size: 3rem
            font-weight: 400
            margin: 0 0 0 -0.2em
            text-indent: 0.2em
            a
                text-decoration: none
                color: $black
        p
            text-align: justify
    img
        position: absolute
        transition: 4 * $speed
        top: 2em
        right: 0
    &:hover
        img
            top: 1.3em

// Modal
.modal
    opacity: 0
    &.is-active
        animation: unOpaque $speed ease-in-out forwards
        opacity: 1
    figcaption
        @extend .notification
        border-top-left-radius: 0
        border-top-right-radius: 0
    .modal-close
        +desktop
            max-width: 120px
            max-height: 120px
            width: 120px
            height: 120px
    .modal-content
        scrollbar-color: $primary $white
        scrollbar-width: thin
        overflow-x: hidden
        padding-bottom: 4em
        +desktop
            width: 900px
        figure
            margin: 0 0 1em 0
        figure:last-child
            margin-bottom: 4em
.modal-figure
    background-color: $secondary
    .modal-button
        width: 100%
        display: block
        cursor: pointer
        &:hover
            transition: 4 * $speed
            mix-blend-mode: screen
            filter: grayscale(100%)
            -webkit-filter: grayscale(100%)
.modal-background
    filter: grayscale(100%)
    background-color: rgba(0,0,0,0.7)

// The grid of supporter and team quotes
.modalgrid
    justify-content: center
    &.columns:not(:first-child)
        margin-top: 0
    .modal-figure.image
        width: 64px
        height: 64px
        +desktop
            width: 128px
            height: 128px
    .image
        figure
            background-size: cover
            height: 100%
            width: 100%
            margin: 0
            &:hover
                transition: 4 * $speed
    .modal
        .image
            display: inline-block
            vertical-align: top
        blockquote
            display: inline-block
            border-radius: $radius-large
            border-top-left-radius: 0
            box-shadow: $box-shadow
            max-height: 40vh
            overflow-y: scroll
        .is-128x128 + blockquote
            width: calc(100% - 132px)
        .is-256x256 + blockquote
            width: calc(100% - 260px)
        .modal-content
            overflow-y: hidden

// Timeline
.timeline
    .timeline-item
        img
            border-radius: $radius-large

// Toggleable messages
.message.toggle
    @extend .is-primary
    margin-bottom: 0.5rem
    .message-header
        cursor: pointer
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2)
    .message-body
        display: none
    &.is-active
        .message-body
            display: block

// Map
.mapboxgl-map
    margin-bottom: 2em
    box-shadow: $card-shadow
    .marker
        background-size: cover
        cursor: pointer
    .mapboxgl-popup
        max-width: 200px
    .mapboxgl-popup-content
        text-align: center
        font-family: $family-sans-serif
    &#ca-map
        height: 60vh
        width: 100%
        +tablet
            height: 400px
        .marker
            background-image: url('/img/map-pointer.png')
            width: 24px
            height: 24px

.citation-list
    li
        padding-left: 7em
        &::before
            display: none
        span
            font-size: $size-5
        time
            position: absolute
            left: 0
        audio
            margin: 1em 0 1.5em

//Progress
.progress.is-large
    margin-bottom: 1.5rem

.progress-wrapper
    position: relative
    margin: 1rem 0 1rem
    &:before
        display: block
        content: ""
        position: absolute
        top: 0
        left: 80%
        border-left: 2px solid $grey-darker
        height: 1.5rem
        line-height: 1.5rem
        color: $grey-darker
        padding-left: 5px
        font-size: 1.4rem
    &:after
        display: block
        content: "↓ Bankfinanzierung"
        position: absolute
        font-size: 1rem
        color: $grey-darker
        left: 79%
        bottom: 100%
        line-height: 1.5rem

// Translator
.translator
    position: absolute
    top: 0
    left: 50%
    margin-left: 15em
    background: white
    padding: 0.4em 1em
    color: $black
    a
        color: $black
        display: inline

// Icons
.icon
    &.heart
        background: url()

@font-face
    font-family: 'fontello'
    src: url('/fontello.woff2') format('woff2')

[class^="icon-"]:before, [class*=" icon-"]:before
    font-family: "fontello"
    display: inline-block
    text-decoration: inherit
    width: 1em
    text-align: center
    font-size: 120%
    font-style: normal

.icon-home:before
    content: '\e800'
.icon-heart:before
    content: '\e801'
.icon-phone:before
    content: '\e802'
.icon-user:before
    content: '\e803'
.icon-exclamation:before
    content: '\e804'
.icon-wrench:before
    content: '\e805'
.icon-github-circled:before
    content: '\f09b'
.icon-mail-alt:before
    content: '\f0e0'
.icon-info:before
    content: '\f129'
.icon-euro:before
    content: '\f153'
.icon-language:before
    content: '\f1ab'
.icon-user-secret:before
    content: '\f21b'
