.front-box
    position: relative
    padding-top: 12em
    margin-bottom: 3em
    overflow: hidden
    > div
        position: relative
        top: 0em
        background: $white
        padding: 1em 1em 0 0
        +desktop
            margin-right: 9em
    img
        position: absolute
        transition: 4 * $speed
        top: 2em
        right: 0
    h2
        font-size: 3rem
        margin: 0
        text-indent: 0.2em
        a
            text-decoration: none
            color: $black
    &:hover
        img
            top: 0

// Modal
.modal
    opacity: 0
    &.is-active
        animation: unOpaque $speed ease-in-out forwards
        opacity: 1
    figcaption
        @extend .notification
        border-top-left-radius: 0
        border-top-right-radius: 0
    .modal-close
        +desktop
            max-width: 120px
            max-height: 120px
            width: 120px
            height: 120px
    .modal-content
        overflow-x: hidden
.modal-figure
    background-color: $secondary
    .modal-button
        width: 100%
        display: block
        cursor: pointer
        &:hover
            transition: 4 * $speed
            mix-blend-mode: screen
            filter: grayscale(100%)
            -webkit-filter: grayscale(100%)
// The grid of supporter and team quotes
.modalgrid
    .image
        figure
            background-size: cover
            height: 100%
            width: 100%
            margin: 0
            &:hover
                transition: 4 * $speed
    .modal
        .image
            display: inline-block
            vertical-align: top
        blockquote
            display: inline-block
            border-radius: $radius-large
            border-top-left-radius: 0
            box-shadow: $box-shadow
        .is-128x128 + blockquote
            width: calc(100% - 131px)
        .is-256x256 + blockquote
            width: calc(100% - 259px)

// Timeline
.timeline
    .timeline-item
        img
            border-radius: $radius-large

// Toggleable messages
.message.toggle
    @extend .is-primary
    margin-bottom: 0.5rem
    .message-header
        cursor: pointer
    .message-body
        display: none
    &.is-active
        .message-body
            display: block

// Map
.mapboxgl-map
    .marker
        background-size: cover
        cursor: pointer
    .mapboxgl-popup
        max-width: 200px
    .mapboxgl-popup-content
        text-align: center
        font-family: $family-sans-serif
    &#ca-map
        height: 60vh
        width: 100%
        +tablet
            height: 400px
        .marker
            background-image: url('/img/map-voigl-icon.png')
            width: 22px
            height: 22px
    &#ca-demonstrator-map
        height: 80vh
        width: 100%
        +tablet
            height: 400px
        .marker
            background-image: url('/img/map-demonstrator-icon.png')
            width: 40px
            height: 40px

.citation-list
    li
        padding-left: 7em
        &::before
            display: none
        span
            font-size: $size-5
        time
            position: absolute
            left: 0
        audio
            margin: 1em 0 1.5em

.puzzle
    display: flex
    flex-wrap: wrap
    background: url(/puzzle/puzzle_bg.jpg)
    width: 2 * 20rem
    height: 2 * 10rem
    background-size: cover
    .puzzle-part
        background: $white
        width: 2 * 1em
        height: 2 * 1em
        &.visible
            box-shadow: 1px 1px 0px rgba($white,0.4)
            background: initial
            background: linear-gradient(to bottom right, rgba(255,255,255,0.3),rgba(0,0,0,0) 50%)
