.front-box
    position: relative
    padding-top: 12em
    margin-bottom: 3em
    overflow: hidden

    > div
        position: relative
        top: 0em
        background: $white
        padding: 1em 1em 0 0
        +desktop
            margin-right: 9em

    img
        position: absolute
        transition: 4 * $speed
        top: 2em
        right: 0

    h2
        font-size: 3rem
        margin: 0
        text-indent: 0.2em

        a
            text-decoration: none
            color: $black

    &:hover
        img
            top: 0

// Modal
.modal
    figcaption
        @extend .notification
    .modal-close
        +desktop
            max-width: 120px
            max-height: 120px
            width: 120px
            height: 120px
.modal-figure
    background-color: $secondary
    .modal-button
        display: block
        cursor: pointer
        transition: 4 * $speed
        &:hover
            mix-blend-mode: screen
            filter: grayscale(100%)
            -webkit-filter: grayscale(100%)
    figcaption
        background-color: $white

// Timeline
.timeline
    .timeline-item
        img
            border-radius: 10px

// Toggleable messages
.message.toggle
    @extend .is-primary
    margin-bottom: 0.5rem
    .message-body
        display: none
    &.is-active
        .message-body
            display: block

// Map
.mapboxgl-map
    .marker
        background-size: cover
        cursor: pointer

    .mapboxgl-popup
        max-width: 200px

    .mapboxgl-popup-content
        text-align: center
        font-family: $family-sans-serif

    &#ca-map
        height: 60vh
        width: 100%
        +tablet
            height: 400px
            margin: 7em 0

        .marker
            background-image: url('/img/map-voigl-icon.png')
            width: 22px
            height: 22px

    // Demonstrator Map
    &#ca-demonstrator-map
        height: 80vh
        width: 100%
        +tablet
            height: 400px

        .marker
            background-image: url('/img/map-demonstrator-icon.png')
            width: 40px
            height: 40px

// The grid of supporter and team quotes
.quotegrid
    position: relative
    margin-top: 0!important
    .column
        &.is-active
            z-index: 1
            .quotegrid-overlay
                display: block
                animation: unOpaque $speed ease-in-out forwards
        .image
            figure
                background-size: cover
                height: 100%
                width: 100%
                margin: 0
                transition: 4 * $speed
        & > .image
            background: $secondary
            &:hover
                figure
                    mix-blend-mode: screen
                    -webkit-filter: grayscale(100%)
                    filter: grayscale(100%)
        .quotegrid-overlay
            display: none
            position: absolute
            top: 0
            left: 0
            background: transparentize($white, 0.05)
            transition: $speed
            opacity: 0
            height: 100%
            .image
                display: inline-block
                vertical-align: top
            blockquote
                display: inline-block
            .is-128x128 + blockquote
                width: calc(100% - 131px)
            .is-256x256 + blockquote
                width: calc(100% - 259px)
