#navHero
    background-image: url(img/layout/nav-bg.jpg)
    background-position: top center
    background-repeat: no-repeat
    +mobile
        background-position-y: -346px
    .hero-body
        img
            width: 308px
            height: 206px
            background: transparentize($background, 0.1)
            padding: 1rem
            border-radius: $radius-large
            transition: $speed
            &:hover
                background: transparentize($background, 0.3)
            +mobile
                width: 154px
                height: 103px
    .navbar
        background: $background
        .navbar-brand
            .navbar-item
                padding: 0.6rem
            .navbar-burger
                width: 48px
                height: 48px
        .navbar-menu
            +desktop
                justify-content: center
                .navbar-start
                        display: flex
                        align-self: center
                        margin-right: 0
            .navbar-end
                padding-top: 4px
            .navbar-item, .navbar-item .navbar-link
                font-family: $family-accent
                font-size: 1.5rem
                padding-bottom: 0
                color: $black
                +tablet
                    .navbar-dropdown
                        box-shadow: $box-shadow
                        border-top: none
