// SIDEBAR
aside
    .card
        &:not(:last-child)
            margin-bottom: 1rem
        &:not(:first-child)
            margin-top: 1rem

// FOOTER
footer
    background: $primary
    background-image: url(img/layout/footer-bg.jpg)
    background-position: center
    background-repeat: no-repeat
    padding: 3rem 1.5rem 0.5rem

    nav.container
        margin-top: 4rem
        .button
            box-shadow: $box-shadow

// Main Content
.container
    // Sides without sidebar:
    .columns
        &:not(:last-child)
            margin-bottom: 2rem
        &:not(:first-child)
            margin-top: 4rem
        &.is-centered
            .content > p,
            .content > h3,
            .content > h4
                +desktop
                    padding: 0 7%
    main
        .column
            +desktop
                text-align: right
                &:nth-child(even)
                    text-align: left
            figure
                margin: 0
        .modal
            figure:not(:last-child)
                margin-bottom: 6em

        p, .column
            +mobile
                text-align: justify

@keyframes unOpaque
    from
        opacity: 0
    to
        opacity: 1

// Audio in Press
ul li audio
    margin: 1em 2em 1.5em

.is-flex-middle
    display: flex
    align-items: center
