// HEADER / NAVIGATION
#navHero
    +desktop
        background-image: url(img/layout/nav-bg.jpg)
        background-position: top center
        background-repeat: no-repeat
    .navbar
        background: $background
        box-shadow: $box-shadow
    .navbar-item, .navbar-item .navbar-link
        font-family: $family-accent
        font-weight: 700
        font-size: 1.5rem
        padding-bottom: 0
    .navbar-link
        color: $black
        +touch
            background: #f0f0f0
    .navbar-end
        padding-top: 4px
    .hero-body
        img
            width: 308px
            background: transparentize($background, 0.1)
            padding: 1rem
            border-radius: $radius-large
            transition: $speed
            &:hover
                background: transparentize($background, 0.3)
    .navbar-brand
        .navbar-item
            padding: 0.6rem
        .navbar-burger
            width: 48px
            height: 48px

// SIDEBAR
aside
    .card
        &:not(:last-child)
            margin-bottom: 1rem
        &:not(:first-child)
            margin-top: 1rem

// FOOTER
.footer
    background-image: url(img/layout/footer-bg.jpg)
    background-position: center
    background-repeat: no-repeat

// Main Content
.container
    // Sides without sidebar:
    .columns
        &:not(:last-child)
            margin-bottom: 2rem
        &:not(:first-child)
            margin-top: 4rem
        &.is-centered
            .content > p,
            .content > h3,
            .content > h4
                +desktop
                    padding: 0 7%
    main
        .column
            +desktop
                text-align: right
                &:nth-child(even)
                    text-align: left
            figure
                margin: 0

// Modal
.modal
    figcaption
        @extend .notification
    .modal-close
        +desktop
            max-width: 120px
            max-height: 120px
            width: 120px
            height: 120px
img.modal-button
    cursor: pointer

// Accordion
.accordions .accordion .accordion-header + .accordion-body .accordion-content
    padding: 1em 4em