// HEADER / NAVIGATION
$navHero-background: transparentize($background, 0.1)

#navHero
    background-image: url(img/layout/nav-bg.jpg)
    background-position: top center
    background-repeat: no-repeat
    .navbar
        background: $navHero-background
    .navbar-item, .navbar-item .navbar-link
        font-family: $family-accent
        font-weight: 700
        font-size: 1.5rem
        padding-bottom: 0
    .navbar-end
        padding-top: 4px
    .hero-body
        img
            width: 308px
            background: $navHero-background
            padding: 1rem
            border-radius: $radius-large
            transition: $speed
            &:hover
                background: transparentize($navHero-background, 0.3)


// SIDEBAR
aside
    .box
        &:not(:last-child)
            margin-bottom: 1rem
        &:not(:first-child)
            margin-top: 1rem


// FOOTER
.footer
    background-image: url(img/layout/footer-bg.jpg)
    background-position: center
    background-repeat: no-repeat


// Main Content
.container
    // Sides without sidebar:
    .columns
        &:not(:last-child)
            margin-bottom: 2rem
        &:not(:first-child)
            margin-top: 4rem
        &.is-centered
            h3, h4, p
                +desktop
                    padding: 0 7%
    
    .content
        .columns                
            figure
                margin: 0
