h1, h2, h3, h4, .title
    font-family: $family-accent

cite
    display: block
    &::before
        content: '\2014 \0020'

figcaption
    font-size: 0.8rem

main
    h1, &> h2
        text-align: center
    .content
        h1, &> h2
            text-align: center

.content
    @each $size in $sizes
        $i: index($sizes, $size)
        h#{$i}
            +block
            font-size: $size
    h1
        &:not(:last-child)
            margin-bottom: 0em
        &:not(:first-child)
            margin-top: 1em
    h2
        &:not(:last-child)
            margin-bottom: 0.0714em
        &:not(:first-child)
            margin-top: 1.1428em
    h3
        &:not(:last-child)
            margin-bottom: 0.1666em
        &:not(:first-child)
            margin-top: 1.3333em
    h4
        &:not(:last-child)
            margin-bottom: 0.1666em

    figure
        text-align: left