.is-font-accent
    font-family: $family-accent!important

::-moz-selection
    background: $secondary
    color: $white

::selection
    background: $secondary
    color: $white

h1, h2, h3, h4, .title
    font-family: $family-accent

cite
    display: block
    font-style: normal
    color: $grey
    &::before
        content: '\2014 \0020'

blockquote
    scrollbar-color: $white darken($secondary, 20)
    scrollbar-width: thin
    cite
        color: $white
        font-weight: $weight-bold
    a
        color: $white
        font-weight: bold

address
    font-style: normal!important
    a
        color: $dark

figcaption
    cite
        font-size: 0.8rem

main
    h1, &> h2
        text-align: center
    .content
        h1, &> h2
            text-align: center

.color-block
    padding: 1.25rem 4rem
    border: 0 solid $secondary
    border-width: 0 0.2em 0 0.4em

.content
    a
        transition: 100ms
    @each $size in $sizes
        $i: index($sizes, $size)
        h#{$i}
            +block
            font-size: $size
    h1
        &:not(:last-child)
            margin-bottom: 0em
        &:not(:first-child)
            margin-top: 1em
    h2
        &:not(:last-child)
            margin-bottom: 0.2em
        &:not(:first-child)
            margin-top: 1.1428em
    h3
        &:not(:last-child)
            margin-bottom: 0.1666em
        &:not(:first-child)
            margin-top: 1.3333em
    h4
        &:not(:last-child)
            margin-bottom: 0.1666em
    figure
        text-align: left
        figcaption
            font-style: normal
    blockquote
        position: relative
        border-left: none
        background: $secondary
        color: $white
        padding-left: 54px
        line-height: 1.7rem
        cite
            font-size: 0.9rem
        &::before
            color: $white
            content: "„"
            font-size: 180px
            position: absolute
            left: -12px
            top: -42px
            line-height: 0

    ul
        list-style: none
        li
            position: relative
            &::before
                content: '›'
                position: absolute
                font-size: 1.8em
                top: -0.43em
                left: -0.7em

td[align="right"]
    text-align: right!important
