.is-font-accent
    font-family: $family-accent!important

::-moz-selection
    background: $secondary
    color: $white

::selection
    background: $secondary
    color: $white

h1, h2, h3, h4, .title
    font-family: $family-accent

cite
    display: block
    font-style: normal
    color: $grey
    &::before
        content: '\2014 \0020'

address
    font-style: normal!important

figcaption
    font-size: 0.8rem

main
    h1, &> h2
        text-align: center
    .content
        h1, &> h2
            text-align: center

.color-block
    @extend .notification
    @extend .is-secondary
    font-weight: 600
    padding: 1.25rem 6rem

.content
    @each $size in $sizes
        $i: index($sizes, $size)
        h#{$i}
            +block
            font-size: $size
    h1
        &:not(:last-child)
            margin-bottom: 0em
        &:not(:first-child)
            margin-top: 1em
    h2
        &:not(:last-child)
            margin-bottom: 0.0714em
        &:not(:first-child)
            margin-top: 1.1428em
    h3
        &:not(:last-child)
            margin-bottom: 0.1666em
        &:not(:first-child)
            margin-top: 1.3333em
    h4
        &:not(:last-child)
            margin-bottom: 0.1666em
    figure
        text-align: left
    blockquote
        position: relative
        border-left: none
        background: $secondary
        color: $white
        padding-left: 54px
        line-height: 1.6rem
        cite
            font-size: 0.9rem
        &::before
            color: $white
            content: "„"
            font-size: 180px
            position: absolute
            left: -12px
            top: -42px
            line-height: 0

    ul
        list-style: none
        li
            position: relative
            &::before
                content: '›'
                position: absolute
                font-size: 1.8em
                top: -0.43em
                left: -0.7em

td[align="right"]
    text-align: right!important
