# since we have different baseURLs betweeen test and master
config/_default/config.toml

Makefile
beautify.bat
.sass-cache
*xmp
*wav
*mp3

*~
.vscode/
*orig
.DS_Store

build/
public/
resources/
static/main.css
static/main.css.map
upload/
node_modules/
.idea/
