[submodule "sass/bulma"]
	path = sass/bulma
	url = https://github.com/jgthms/bulma
[submodule "sass/bulma-timeline"]
	path = sass/bulma-timeline
	url = https://github.com/Wikiki/bulma-timeline/
[submodule "sass/bulma-carousel"]
	path = sass/bulma-carousel
	url = https://github.com/Wikiki/bulma-carousel/
[submodule "sass/bulma-accordion"]
	path = sass/bulma-accordion
	url = https://github.com/Wikiki/bulma-accordion/
