{{ define "title" }} {{ .Title }} - {{ .Site.Title }} {{ end }}


{{ define "main" }}
<div class="container">
    <div class="columns">
        <main class="column is-three-fifths">
            <h1 class="title is-1">{{ .Title }}</h1>
            <div class="content">
                {{ .Content }}
            </div>
        </main>

        {{ if eq .Site.Language.Lang "de" }}
            {{ partial "aside.html" }}
        {{ else }}
            {{ partial "aside.en.html" }}
        {{ end }}
    </div>
</div>
{{ end }}
