<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="theme-color" content="#38A9A1">

    <link rel="stylesheet" href="{{ "main.css" | relURL }}" />

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
</head>

<body>
    <main class="section content">
        {{ block "main" . }}
        {{ end }}
    </main>
</body>

</html>
