<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <!-- We build the SASS directly into the inline styles… -->
    <style>
      {{ (resources.Get "sass/newsletter.sass" | toCSS).Content | safeCSS }}
    </style>
  </head>

  <body>
    <div class="body">
    <div class="box">
        <a href="{{ .Permalink }}">View this email in your browser</a>
    </div>

    <div class="box" style="overflow:hidden;">
      <a class="logo" href="https://collegiumacademicum.de/"><img src="{{ "img/logo-bottom.png" | absURL }}" alt="Logo: Collegium Academicum" /></a>
      <a style="float: right;" class="logo" href="https://collegiumacademicum.de/"><img src="{{ "img/logo-top.png" | absURL }}" alt="Logo: Collegium Academicum" /></a>
    </div>

    <div role="main" class="box main">
      {{ block "main" . }}
      {{ end }}

      <div class="voigl">
        <img src="{{ "img/feuervoigl.png" | absURL }}" alt="Der Feuer Voigl" />
      </div>
    </div>

    <div role="footer" class="footer box">
      <p>Mehr Informationen erhalten Sie auf unserer <a href="https://collegiumacademicum.de">Webseite</a>. </p>
      <p>Diese Nachricht wurde von [FROMEMAIL] an [EMAIL] gesendet.<br />
         Falls Sie diese Nachricht weiterleiten möchten, verwenden Sie
         bitte <em>nicht</em>  die Weiterleiten-Funktion ihres E-Mail Programmes, da diese Nachricht speziell für Sie generiert wurde. Benutzen Sie die  <a href="[FORWARDURL]">Weiterleit-Funktion</a> unseres
         Newsletter Systems.
      </p>
      <p>Falls Sie Ihre Einstellungen verändern möchten, besuchen Sie
	       ihre persönlichen <a href="[PREFERENCESURL]">Einstellungs-Seite.</a>
         Falls Sie sich vollständig von unserem Newsletter abmelden möchten:
      </p>
      <p>
	      <a  class="button" href="[UNSUBSCRIBEURL]"> Abmelden</a>
      </p>
    </div>

  </div>
  </body>
</html>
