<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="theme-color" content="#38A9A1">
    <meta name="referrer" content="no-referrer">


    {{ $sass_options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "sass/main.sass" | toCSS $sass_options | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ if eq .Site.Language.Lang "ru" }}
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
    {{ end }}

    {{ $mainjs := resources.Get "js/main.js" | minify }}
    <script async src="{{ $mainjs.Permalink }}"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
</head>

<body>
    <!-- START NAV -->
    <header id="navHero" class="hero is-white">
        <div class="hero-body">
            <div class="container has-text-centered is-hidden-mobile">
                <a href="{{ "/" | relLangURL }}">
                    <img src="{{ "img/logo.png" | relURL }}" alt="Logo">
                </a>
            </div>
        </div>

        <div class="hero-foot">
            <nav class="navbar" aria-label="dropdown navigation">
                <div class="container">
                    <div class="navbar-brand is-hidden-desktop">
                        <a class="navbar-item" href="{{ "/" | relLangURL }}">
                            <img src="{{ "img/logo-small.png" | relURL }}" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-start navbar-middle-desktop">
                                {{ partial "menu.html" . }}

                                <div class="translate is-hidden-desktop">
                                    {{ partial "translate.html" . }}
                                </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- END NAV -->

    <div class="translator is-hidden-touch">
        {{ partial "translate.html" . }}
    </div>

    <main class="section">
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
    </main>

    {{ partial "footer.html" }}
</body>

</html>
