{{ define "title" }} {{ .Title }} - {{ .Site.Title }} {{ end }}

{{ define "main" }}
<div class="container">
    <div class="columns is-centered">
        <section class="column is-10">
            <h1 class="title is-1">{{ .Title }}</h1>
            <div class="content">
                {{ .Content }}
            </div>

            {{ if isset .Params "novoigl" }}
            {{ else }}
	    {{ if eq .Site.Language.Lang "de" }}
            {{ partial "voigl-message.html" }}
            {{ else if eq .Site.Language.Lang "en"}}
	    {{ partial "voigl-message.en.html" }}
	    {{ else if eq .Site.Language.Lang "fr"}}
	    {{ partial "voigl-message.fr.html" }}
            {{ end }}
            {{ end }}
        </section>
    </div>
</div>
{{ end }}
