<aside class="column">
  <div class="section">


    <a href="{{ "direktkredite" | relURL }}" class="button is-hidden-mobile is-fullwidth is-link">Direktkredit geben</a>

    <!-- <div class="card">
	 <div class="card-image" style="background-image: url({{ "img/layout/spatenstich_header.png" | relURL }});"></div>
	 <div class="card-content">
         <p class="title is-3 is-marginless">Spatenstich</p>
         <p>Wir laden Sie herzlich zum Spatenstich des zukünftigen Wohnheims und Bilundgsprojekts Collegium Academicum am <strong>Freitag den 19.Juli um 15 Uhr</strong> ein.</p>
	 <br />
	 <p class="title is-3 is-marginless">Wo?</p>
         <address>
         <p>Ehemaliges Gelände US-Hospital</p>
         <p>Karlsruher Str.</p>
         <p>69126 Heidelberg</p>
         </address>
	 <br />
         <p class="title is-3 is-marginless">Wann?</p>
         <table class="table is-narrow is-fullwidth">
         <tr><td>Fr.</td><td>19.07.</td><td>15 Uhr</td></tr>
         </table>
	 <p><a href="spatenstich">Erfahren Sie mehr ...</a></p>
	 </div>
	 </div>  -->

    <div class="card">
      <div class="card-image" style="background-image: url({{ "img/layout/infopaket.jpg" | relURL }});"></div>
      <div class="card-content">
        <p class="title is-3 is-marginless">Newsletter</p>
        Wir halten dich über alle Neuigkeiten des CA auf dem Laufenden mit unserem Newsletter.
        {{ partial "newsletter-signup.html" }} <br />

        <p class="title is-3 is-marginless">Infopaket</p>
        <p><strong>Möchten Sie mehr darüber erfahren wie Sie unser Projekt unterstützen können?</strong></p>
 	<p>Hier können Sie sich unser detailliertes Informationspaket anfordern. Einfach Ihre E-Mail Adresse eintragen und auf den Button klicken.</p>
	<form action="lib/form_infopaket.php" method="POST" autocomplete="off">
	  <div class="field has-addons">
            <div class="control has-icons-left">
              <input class="input" type="email" name="email" placeholder="{{ i18n "deine-mailadresse" }}">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
            <div class="control">
              <button type="submit" class="button is-primary">Anfordern</button>
            </div>
          </div>
	</form>
      </div>
    </div>

    <div class="card">
      <div class="card-image" style="background-image: url({{ "img/layout/einziehen.jpg" | relURL }});"></div>
      <div class="card-content">
        <p class="title is-3 is-marginless">{{ i18n "einziehen" }}</p>
        Du hast jetzt bereits Interesse daran 2020 in das frisch gebaute CA einzuziehen? Dann melde dich bei uns:
        <a href="{{ "einziehen" | relURL }}" class="field button is-radiusless is-fullwidth is-link">Interesse anmelden</a>
      </div>
    </div>

    <div class="card is-hidden-mobile">
      <div class="card-image" style="background-image: url({{ "img/layout/brochure.jpg" | relURL }});"></div>
      <div class="card-content">
        <a href="{{ "broschuere" | relURL }}" class="button is-radiusless is-fullwidth is-link">Broschüre ansehen</a>
      </div>
    </div>

    <div class="card is-hidden-mobile">
      <div class="card-image" style="background-image: url({{ "img/layout/zimmermodell.jpg" | relURL }});"></div>
            <div class="card-content">
                <a href="{{ "zimmermodell" | relURL }}" class="button is-radiusless is-fullwidth is-link">Unser Zimmermodell</a>
            </div>
        </div>

        <div class="box is-shadowless">
            <a href="https://www.syndikat.org/">
                <img class="image" src="{{ "img/stakeholder/syndikat_big.png" | relURL }}" alt="Logo Mitshäuser Syndikat" />
            </a>
        </div>
    </div>
</aside>
