<aside class="column">
    <div class="section">
        <div class="card">
            <div class="card-image">
                <img class="image" src="{{ "img/layout/infopaket.jpg" | relURL }}">
            </div>
            <div class="card-content">
                {{/*
                <p class="title is-3 is-marginless">Infopaket</p>
                <p>Infopaket text platzhalter</p>
                <div class="field has-addons">
                    <div class="control has-icons-left">
                        <input class="input" type="email" placeholder="{{ i18n "deine-mailadresse" }}">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                    <div class="control">
                        <a class="button is-primary">Bestellen</a>
                    </div>
                </div>
                */}}
                <p class="title is-3 is-marginless">Newsletter</p>
                Wir halten dich über alle Neuigkeiten des CA auf dem Laufenden mit unserem Newsletter.
                {{ partial "newsletter-signup.html" }}
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img class="image" src="{{ "img/layout/einziehen.jpg" | relURL }}">
            </div>
            <div class="card-content">
                <p class="title is-3 is-marginless">{{ i18n "einziehen" }}</p>
                Du hast jetzt bereits Interesse daran 2019 in das frisch gebaute CA einzuziehen? Dann melde dich bei uns:
                <a href="{{ "einziehen" | relURL }}" class="button is-radiusless is-fullwidth is-link">Interesse anmelden</a>
            </div>
        </div>
        
        <div class="card">
            <div class="card-image">
                <img class="image" src="{{ "img/layout/brochure.jpg" | relURL }}" alt="Eine Photoaufnahme der Broschüre.">
            </div>
            <div class="card-content">
                <a href="{{ "brochure" | relURL }}" class="button is-radiusless is-fullwidth is-link">Broschüre ansehen</a>
            </div>
        </div>

        <div class="box is-shadowless">
            <a href="https://www.syndikat.org/">
                <img class="image" src="{{ "img/stakeholder/syndikat_big.png" | relURL }}" alt="Logo Mitshäuser Syndikat" />
            </a>
        </div>
    </div>
</aside>