<aside class="column">
  <div class="section">

    <a href="{{ "direktkredite" | relURL }}" class="button is-hidden-mobile is-fullwidth is-link">Direct loans</a>
    <br>
    <a href="{{ "spenden" | relURL }}" class="button is-hidden-mobile is-fullwidth is-link">Donations</a>

    <div class="card">
      <div class="card-image" style="background-image: url({{ "img/layout/baustelle.jpg" | relURL }});"></div>
      <div class="card-content">
          <p class="title is-3 is-marginless">Excursions</p>
          <p>
            Would you like to see the progress of the project?
            You are invited to take part to our coming excursions. (<a href="{{ "anfahrt" | relURL }}">How to get there</a>)
          </p>
          <br>
          <strong>Excursion dates</strong>
          <table>
            <tr><td>So, 26.04</td> <td>14-15:30 Uhr</td></tr>
            <tr><td>So, 24.05</td> <td>14-15:30 Uhr</td></tr>
          </table>
      </div>
    </div>

    <div class="card">
      <div class="card-image" style="background-image: url({{ "img/layout/anfahrt.jpg" | relURL }});"></div>
      <div class="card-content">
      The CA is located in Rohrbach on the site of the former US Hospital
        <a href="{{ "anfahrt" | relURL }}" class="field button is-radiusless is-fullwidth is-link">How to get there</a>
      </div>
    </div>

    <div class="card">
      <div class="card-image" style="background-image: url({{ "img/layout/infopaket.jpg" | relURL }});"></div>
      <div class="card-content">
        <p class="title is-3 is-marginless">Newsletter</p>
        Sign up for our newsletter to stay up to date on all CA news (in german).
        {{ partial "newsletter-signup.html" }} <br />
      </div>
    </div>

    <div class="card">
      <div class="card-image" style="background-image: url({{ "img/layout/einziehen.jpg" | relURL }});"></div>
      <div class="card-content">
        <p class="title is-3 is-marginless">{{ i18n "einziehen" }}</p>
        You are already interested in moving into the newly built CA in 2021? You can get in touch with us:
        <a href="{{ "einziehen" | relURL }}" class="field button is-radiusless is-fullwidth is-link">Moving in</a>
      </div>
    </div>

    <div class="card is-hidden-mobile">
      <div class="card-image" style="background-image: url({{ "img/layout/brochure.jpg" | relURL }});"></div>
      <div class="card-content">
        <a href="{{ "broschuere" | relURL }}" class="button is-radiusless is-fullwidth is-link">Informationsheet (in german)</a>
      </div>
    </div>

    <div class="card is-hidden-mobile">
      <div class="card-image" style="background-image: url({{ "img/layout/zimmermodell.jpg" | relURL }});"></div>
      <div class="card-content">
        <a href="{{ "zimmermodell" | relURL }}" class="button is-radiusless is-fullwidth is-link">Our Room-Modell</a>
      </div>
    </div>

    <div class="box is-shadowless">
      <a href="https://www.syndikat.org/">
        <img class="image" src="{{ "img/stakeholder/syndikat_big.png" | relURL }}" alt="Logo Mitshäuser Syndikat" />
      </a>
    </div>
  </div>
</aside>
