<footer class="footer">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="box">
                        <h3 class="title is-3">{{ i18n "kontakt" }}</h3>
                        <p>Collegium Academicum</p>
                        <p>Plöck 93</p>
                        <p>69117 Heidelberg</p>
                        <p>Telefon: 06221-652236</p>
                        <p>
                            <a href="mailto:kontakt@collegiumacademicum.de">kontakt@collegiumacademicum.de</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="level box">
                <div class="level-item">
                    <a href="http://iba.heidelberg.de/">
                        <img class="image is-128x128" src="{{ "img/stakeholder/iba-projekt.png" | absURL }}" alt="Logo iba Projekt" />
                    </a>
                </div>
                <div class="level-item">
                    <a href="https://www.syndikat.org">
                        <img class="image" src="{{ "img/stakeholder/syndikat.png" | absURL }}" alt="Logo Mitshäuser Syndikat" />
                    </a>
                </div>
                <div class="level-item">
                    <a href="https://www.bmi.bund.de/">
                        <img class="image" src="{{ "img/stakeholder/bmi.png" | absURL }}" alt="Logo BMI" />
                    </a>
                </div>
                <div class="level-item">
                    <a href="http://www.bbsr.bund.de/">
                        <img class="image" src="{{ "img/stakeholder/bbsr.png" | absURL }}" alt="Logo BBSR" />
                    </a>
                </div>
                <div class="level-item">
                    <a href="https://www.forschungsinitiative.de">
                        <img class="image" src="{{ "img/stakeholder/zukunft-bau.png" | absURL }}" alt="Logo Zukunft Bau" />
                    </a>
                </div>
            </div>
    </div>
</footer>