<footer id="footer" data-turbolinks-permanent>
    <div class="container">
        <div class="level">
            <div class="level-left box">
                <div class="level-item">
                    <address>
                        <h3 class="title is-3">Collegium Academicum</h3>
                        <p>
                            <span class="icon"><i class="fas fa-home"></i></span>
                            <a href="https://www.openstreetmap.org/#map=18/49.40951/8.70290">Plöck 93</a>
                        </p>
                        <p>
                            <span class="icon"><i></i></span>
                            69117 Heidelberg
                        </p>
                        <p>
                            <span class="icon"><i class="fas fa-phone"></i></span>
                            <a href="tel:+4906221652236">+49 (0)6221-652236</a>
                        </p>
                        <p>
                            <span class="icon"><i class="fas fa-envelope"></i></span>
                            <a href="mailto:kontakt@collegiumacademicum.de">kontakt@collegiumacademicum.de</a>
                        </p>
                    </address>
                </div>
            </div>
            <div class="level-right box">
                <div class="level">
                    <div class="level-item">
                        <a href="http://iba.heidelberg.de/">
                            <img class="image is-128x128" src="{{ "img/stakeholder/iba-projekt.png" | relURL }}" alt="Logo iba Projekt" />
                        </a>
                    </div>
                    <div class="level-item">
                        <a href="https://www.syndikat.org">
                            <img class="image" src="{{ "img/stakeholder/syndikat.png" | relURL }}" alt="Logo Mitshäuser Syndikat" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="level">
            <div class="level-left box">
                <div class="level">
                    <div class="level-item">
                        <a href="https://www.bmi.bund.de/">
                            <img class="image" src="{{ "img/stakeholder/bmi.png" | relURL }}" alt="Logo BMI" />
                        </a>
                    </div>
                    <div class="level-item">
                        <a href="http://www.bbsr.bund.de/">
                            <img class="image" src="{{ "img/stakeholder/bbsr.png" | relURL }}" alt="Logo BBSR" />
                        </a>
                    </div>
                    <div class="level-item">
                        <a href="https://www.forschungsinitiative.de">
                            <img class="image" src="{{ "img/stakeholder/zukunft-bau.png" | relURL }}" alt="Logo Zukunft Bau" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="level-right box">
                <div class="level">
                    <div class="level-item">
                        <a href="https://ec.europa.eu/">
                            <img class="image" src="{{ "img/stakeholder/efre-eu.png" | relURL }}" alt="Logo Europäische Komission" />
                        </a>
                    </div>
                    <div class="level-item">
                        <a href="https://efre-bw.de/">
                            <img class="image" src="{{ "img/stakeholder/efre-bw.png" | relURL }}" alt="Logo EFRE Baden-Württemberg" />
                        </a>
                    </div>
                    <div class="level-item">
                        <a href="https://www.baden-wuerttemberg.de">
                            <img class="image" src="{{ "img/stakeholder/bw.png" | relURL }}" alt="Logo Land Baden-Württemberg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <nav class="buttons">
            <a class="button is-primary is-small" href="{{ "impressum" | relLangURL }}">
                <span class="icon is-small">
                    <i class="fas fa-info"></i>
                </span>
                <span>Impressum</span>
            </a>
            <a class="button is-primary is-small" href="{{ "datenschutz" | relLangURL }}">
                <span class="icon is-small">
                    <i class="fas fa-user-secret"></i>
                </span>
                <span>Datenschutz</span>
            </a>
            <a class="button is-primary is-small" href="https://github.com/CollegiumAcademicum/collegiumacademicum.de">
                <span class="icon is-small">
                    <i class="fab fa-github"></i>
                </span>
                <span>Quellcode</span>
            </a>
        </nav>
    </div>
</footer>
