<div class="flex-container">
<div class="front-box">
    <a href="{{ with .Site.GetPage "/wohnheim" }}{{ .Permalink }}{{end}}" ><img src="neubau.png"></a>
    <div>
        <div><h2><a href="{{ with .Site.GetPage "/wohnheim" }}{{ .Permalink }}{{end}}" >{{ i18n "header-wohnheim" }}</a></h2></div>
        <p>
            {{ i18n "pitch-wohnheim" }} <a class="mehr" href="{{ with .Site.GetPage "/wohnheim" }}{{ .Permalink }}{{end}}" >{{ i18n "mehr" }}...</a>
        </p>
    </div>
</div>

<div class="front-box">
    <a href="/sozialer_mietwohnraum" ><img src="altbau_2024.png"></a>
    <div>
        <div><h2><a href="{{ with .Site.GetPage "/sozialer_mietwohnraum" }}{{ .Permalink }}{{end}}" >{{ i18n "header-sowobau" }}</a></h2></div>
        <p>
             {{ i18n "pitch-sowobau" }} <a class="mehr" href="{{ with .Site.GetPage "/sozialer_mietwohnraum" }}{{ .Permalink }}{{end}}" >{{ i18n "mehr" }}...</a>
            <br>
        </p>
    </div>
</div>

<div class="front-box">
    <a href="/azubi-wohnen" ><img src="faltr.png"></a>
    <div>
        <div><h2><a href="{{ with .Site.GetPage "/azubi-wohnen" }}{{ .Permalink }}{{end}}" >{{ i18n "header-azubiwohnen" }}</a></h2></div>
        <p>
             {{ i18n "pitch-azubiwohnen" }} <a class="mehr" href="{{ with .Site.GetPage "/azubi-wohnen" }}{{ .Permalink }}{{end}}" >{{ i18n "mehr" }}...</a>
        </p>
    </div>
</div>
</div>
