<div class="flex-container">
<div class="front-box">
    <a href="/wohnheim" ><img src="neubau.png"></a>
    <div>
        <div><h2><a href="/wohnheim" >Wohnheim für junge Menschen</a></h2></div>
        <p>
            Innovativer Holzbau: Bezahlbarer Wohnraum für 176 junge Menschen und Räume für kreative Ideen und lebhaften Austausch. <a class="mehr" href="/wohnheim" >Mehr...</a>
        </p>
    </div>
</div>

<div class="front-box">
    <a href="/mietwohnraum" ><img src="altbau.png"></a>
    <div>
        <div><h2><a href="/mietwohnraum" >Sozialer Mietwohnraum</a></h2></div>
        <p>
            Wohnen ist Grundrecht: Wir schaffen im Altbau sozialen Mietwohnraum. <a class="mehr" href="/mietwohnraum" >Mehr...</a>
            <br>
        </p>
    </div>
</div>

<div class="front-box">
    <a href="/orientierungsjahr" ><img src="faltr.png"></a>
    <div>
        <div><h2><a href="/orientierungsjahr" >falt*r - Das Orientierungsjahr</a></h2></div>
        <p>
            Sozialökologische Transformation, Demokratie, Gemeinschaft, Studien- und Ausbildungsorientierung:
            Das sind die Kernthemen des 10-monatigen Orientierungsjahres im Altbau, das bald mit dem ersten Jahrgang startet. <a class="mehr" href="/orientierungsjahr" >Mehr...</a>
        </p>
    </div>
</div>
</div>
