<a href="{{ "aktuelles" | relURL }}" class="navbar-item">Aktuelles</a>
<div class="navbar-item is-hoverable has-dropdown">
    <a href="{{ "hausprojekt" | relURL }}" class="navbar-link">Hausprojekt</a>
    <div class="navbar-dropdown">
        <a href="{{ "wohnen" | relURL }}" class="navbar-item">Wohnen</a>
        <a href="{{ "bildung" | relURL }}" class="navbar-item">Bildung</a>
        <a href="{{ "nachhaltigkeit" | relURL }}" class="navbar-item">Nachhaltigkeit</a>
        <a href="{{ "selbstverwaltung" | relURL }}" class="navbar-item">Selbstverwaltung</a>
        <a href="{{ "finanzierung" | relURL }}" class="navbar-item">Finanzierung</a>
        <a href="{{ "timeline" | relURL }}" class="navbar-item">Timeline</a>
    </div>
</div>
<div class="navbar-item is-hoverable has-dropdown">
    <a href="{{ "unterstuetzen" | relURL }}" class="navbar-link">Unterstützen</a>
    <div class="navbar-dropdown">
        <a href="{{ "direktkredite" | relURL }}" class="navbar-item">Direktkredite</a>
        <a href="{{ "spenden" | relURL }}" class="navbar-item">Spenden</a>
        <a href="{{ "mach-mit" | relURL }}" class="navbar-item">Mach mit</a>
    </div>
</div>
<div class="navbar-item is-hoverable has-dropdown">
    <a href="{{ "ueber-uns" | relURL }}" class="navbar-link">Über uns</a>
    <div class="navbar-dropdown">
        <a href="{{ "leitbild" | relURL }}" class="navbar-item">Unser Leitbild</a>
        <a href="{{ "geschichte" | relURL }}" class="navbar-item">Geschichte des CA</a>
        <a href="{{ "links-presse" | relURL }}" class="navbar-item">Links & Presse</a>
        <a href="{{ "partner" | relURL }}" class="navbar-item">Partner</a>
    </div>
</div>
