<div class="navbar-item is-hoverable has-dropdown">
    <span class="navbar-link">Habitat Autogéré</span>
    <div class="navbar-dropdown">
        <a href="{{ "habiter" | relLangURL }}" class="navbar-item">Habiter</a>
        <a href="{{ "apprendre" | relLangURL }}" class="navbar-item">Apprendre</a>
        <a href="{{ "durabilité" | relLangURL }}" class="navbar-item">Durabilité</a>
        <a href="{{ "autogestion" | relLangURL }}" class="navbar-item">Autogestion</a>
        <a href="{{ "financement" | relLangURL }}" class="navbar-item">Financement</a>
    </div>
</div>
<div class="navbar-item is-hoverable has-dropdown">
    <span class="navbar-link">Soutien</span>
    <div class="navbar-dropdown">
        <a href="{{ "participer" | relLangURL }}" class="navbar-item">Participer</a>
        <a href="{{ "credits-directs" | relLangURL }}" class="navbar-item">Crédits directs</a>
        <a href="{{ "dons" | relLangURL }}" class="navbar-item">Dons</a>
    </div>
</div>
<div class="navbar-item is-hoverable has-dropdown">
    <span class="navbar-link">qui-sommes-nous</span>
    <div class="navbar-dropdown">
        <a href="{{ "principes" | relLangURL }}" class="navbar-item">Nos Principes</a>
        <a href="{{ "liens-presse" | relLangURL }}" class="navbar-item">Liens & Presse</a>
        <a href="{{ "partenaires" | relLangURL }}" class="navbar-item">Partenaires</a>
    </div>
</div>
