<div class="navbar-item is-hoverable has-dropdown">
    <a href="{{ "housing-project" | relLangURL }}" class="navbar-link">Housing Project</a>
    <div class="navbar-dropdown">
        <a href="{{ "living" | relLangURL }}" class="navbar-item">Living</a>
        <a href="{{ "education" | relLangURL }}" class="navbar-item">Education</a>
        <a href="{{ "sustainability" | relLangURL }}" class="navbar-item">Sustainability</a>
        <a href="{{ "self-management" | relLangURL }}" class="navbar-item">Self-management</a>
        <a href="{{ "funding" | relLangURL }}" class="navbar-item">Funding</a>
        <a href="{{ "room-model" | relLangURL }}" class="navbar-item">Room-Model</a>
    </div>
</div>
<div class="navbar-item is-hoverable has-dropdown">
    <a href="{{ "support" | relLangURL }}" class="navbar-link">Support</a>
    <div class="navbar-dropdown">
        <a href="{{ "join-us" | relLangURL }}" class="navbar-item">Join us!</a>
        <a href="{{ "direct-loans" | relLangURL }}" class="navbar-item">Direct loans</a>
        <a href="{{ "donations" | relLangURL }}" class="navbar-item">Donations</a>
    </div>
</div>
<div class="navbar-item is-hoverable has-dropdown">
    <a href="{{ "about-us" | relLangURL }}" class="navbar-link">About us</a>
    <div class="navbar-dropdown">
        <a href="{{ "vision" | relLangURL }}" class="navbar-item">Our vision</a>
        <a href="{{ "press-links" | relLangURL }}" class="navbar-item">Links & Press</a>
        <a href="{{ "partnerinnen" | relLangURL }}" class="navbar-item">Partners</a>
    </div>
</div>
