{{ $currentPage := . }}
{{ range .Site.Menus.main }}
    {{ if .HasChildren }}
        <div class="navbar-item is-hoverable has-dropdown">
            <a href="{{ .URL | absLangURL }}" class="navbar-link">{{ .Name }}</a>
            <div class="navbar-dropdown">
                {{ range .Children }}
                    <a href="{{ .URL | absLangURL }}" class="navbar-item">{{ .Name }}</a>
                {{ end }}
            </div>
        </div>
    {{ else }}
        <a href="{{ .URL | absLangURL }}" class="navbar-item">{{ .Pre }} {{ .Name }}</a>
    {{ end }}
{{ end }}
