<a class="navbar-item">Aktuelles</a>
<div class="navbar-item is-hoverable has-dropdown">
    <a class="navbar-link">Hausprojekt</a>
    <div class="navbar-dropdown">
        <a href="{{ "wohnen" | relLangURL }}" class="navbar-item">Wohnen</a>
        <a href="{{ "bildung" | relLangURL }}" class="navbar-item">Bildung</a>
        <a href="{{ "nachhaltigkeit" | relLangURL }}" class="navbar-item">Nachhaltigkeit</a>
        <a href="{{ "selbstverwaltung" | relLangURL }}" class="navbar-item">Selbstverwaltung</a>
        <a href="{{ "finanzierung" | relLangURL }}" class="navbar-item">Finanzierung</a>
        <a href="{{ "timeline" | relLangURL }}" class="navbar-item">Timeline</a>
    </div>
</div>
<div class="navbar-item is-hoverable has-dropdown">
    <a class="navbar-link">Unterstützen</a>
    <div class="navbar-dropdown">
        <a href="{{ "mach-mit" | relLangURL }}" class="navbar-item">Mach mit!</a>
        <a href="{{ "direktkredite" | relLangURL }}" class="navbar-item">Direktkredite</a>
        <a href="{{ "spenden" | relLangURL }}" class="navbar-item">Spenden</a>
    </div>
</div>
<div class="navbar-item is-hoverable has-dropdown">
    <a class="navbar-link">Über uns</a>
    <div class="navbar-dropdown">
        <a href="{{ "leitbild" | relLangURL }}" class="navbar-item">Unser Leitbild</a>
        <a href="{{ "das-ca-heute" | relLangURL }}" class="navbar-item">Das CA heute</a>
        <a href="{{ "geschichte" | relLangURL }}" class="navbar-item">Geschichte des CA</a>
        <a href="{{ "links-presse" | relLangURL }}" class="navbar-item">Links & Presse</a>
        <a href="{{ "partner" | relLangURL }}" class="navbar-item">Partner</a>
    </div>
</div>