<div class="navbar-item is-hoverable has-dropdown">
    <a class="navbar-link">House project</a>
    <div class="navbar-dropdown">
        <a href="{{ "living" | relLangURL }}" class="navbar-item">Living</a>
        <a href="{{ "education" | relLangURL }}" class="navbar-item">Education</a>
        <a href="{{ "sustainability" | relLangURL }}" class="navbar-item">Sustainability</a>
        <a href="{{ "self-organisation" | relLangURL }}" class="navbar-item">Self-Organisation</a>
        <a href="{{ "financing" | relLangURL }}" class="navbar-item">Financing</a>
        <a href="{{ "timeline" | relLangURL }}" class="navbar-item">Timeline</a>
    </div>
</div>
<div class="navbar-item is-hoverable has-dropdown">
    <a class="navbar-link">Support</a>
    <div class="navbar-dropdown">
        <a href="{{ "join-in" | relLangURL }}" class="navbar-item">Join in!</a>
        <a href="{{ "direct-loan" | relLangURL }}" class="navbar-item">Direct loans</a>
        <a href="{{ "donation" | relLangURL }}" class="navbar-item">Donation</a>
    </div>
</div>
<div class="navbar-item is-hoverable has-dropdown">
    <a class="navbar-link">About us</a>
    <div class="navbar-dropdown">
        <a href="{{ "ca-today" | relLangURL }}" class="navbar-item">The CA today</a>
        <a href="{{ "links-press" | relLangURL }}" class="navbar-item">Links & Press</a>
        <a href="{{ "partner" | relLangURL }}" class="navbar-item">Partner</a>
    </div>
</div>