
<div class="columns is-centered" style="margin-top: 4em;">
    <div class="column is-10">
        <div class="columns">
            <div class="column has-text-centered">
                <div>
                    <p><img class="" src="{{ "img/voigl_rot.svg" | relURL }}" alt="Der Feuer Voigl" width="64" /></p>
                    <p style="margin: 1em 0 1em 0;">{{ i18n "direktkredite-message-voigl" }}</p>
                    <p><a class="button is-secondary is-mobile-fullwidth" href="{{ with .Site.GetPage "/direktkredite" }}{{ .Permalink }}{{ end }}">{{ i18n "direktkredite-message-voigl-button" }}</a></p>
                </div>
            </div>
            <div class="column has-text-centered">
                <div>
                    <p><img class="" src="{{ "img/voigl_cyan.svg" | relURL }}" alt="Der Fertig Voigl" width="64" /></p>
                    <p style="margin: 1em 0 1em 0;">{{ i18n "einziehen-message-voigl" }}</p>
                    <p><a class="button is-primary is-mobile-fullwidth" href="{{ with .Site.GetPage "/einziehen" }}{{ .Permalink }}{{ end }}">{{ i18n "einziehen-message-voigl-button" }}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
