
<div class="level" style="margin-top: 4em;">
    <div class="level-item">
        <img class="image" src="{{ "img/feuervoigl.png" | relURL }}" alt="Der Feuer Voigl" />
    </div>
</div>

<div class="has-text-centered content">
    <p>Sie teilen unsere Vision eines selbstverwalteten Wohnheims und möchten einen Beitrag zur Verwirklichung leisten?</p>
    <p><a class="button is-secondary is-mobile-fullwidth" href="{{ "direktkredite" | relURL }}">Unterstützen sie uns mit einem Direktkredit.</a></p>
</div>
