
{{ define "main"}}
<div class="container">
    <div class="columns is-centered">
        <main class="column is-10">
            <h1 class="title is-1">404</h1>
            <div class="content has-text-centered">
                <h2>Das ist nicht die Seite die du gesucht hast:</h2>  
                <a class="is-size-2" href="{{ "/" | relURL }}">Zurück zum Anfang.</a>
            </div>

            <div class="level">
                <div class="level-item">
                    <img class="image" src="{{ "img/feuervoigl.png" | relURL }}" alt="Der Feuer Voigl" />
                </div>
            </div>
        </main>
    </div>
</div>
{{ end }}