{{ define "title" }}{{ .Site.Title }}{{ end }}


{{ define "main" }}
<div class="container">
    <div class="columns">
        <section class="front column is-three-fifths">
            <div class="content">
                {{ .Content }}
            </div>

            {{ partial "voigl-message.html" }}
        </section>

        {{ if eq .Site.Language.Lang "de" }}
            {{ partial "aside.html" }}
        {{ else }}
            {{ partial "aside.en.html" }}
        {{ end }}
    </div>
</div>
{{ end }}
