{{ define "title" }}{{ .Site.Title }}{{ end }}


{{ define "main" }}
<div class="container">
    <div class="columns">
        <section class="front column is-three-fifths">
            <div class="content">
                {{ .Content }}
            </div>
            {{ partial "voigl-message.html" .}}
        </section>
        {{ if eq .Site.Language.Lang "de" }}
            {{ partial "aside.html" }}
        {{ else if eq .Site.Language.Lang "en"}}
            {{ partial "aside.en.html" }}
	{{ else if eq .Site.Language.Lang "fr"}}
            {{ partial "aside.fr.html" }}
        {{ end }}
    </div>
</div>
{{ end }}
