<h2>{{ i18n "eigene-veroeffentlichungen" }}</h2>
<ul>
{{ range $.Site.Data.bibliography.publications.publications }}
    <li>
        {{ .content | markdownify }}
        <cite>{{ .year }}</cite>
    </li>
{{ end }}
</ul>


<h2>{{ i18n "presseartikel" }}</h2>
<ul>
{{ range $.Site.Data.bibliography.press.press }}
    <li>
        {{ .title | markdownify }}
        <cite>{{ .cite }}</cite>
    </li>
{{ end }}
</ul>

<h2>{{ i18n "literatur" }}</h2>
<ul>
{{ range $.Site.Data.bibliography.literature.literature }}
    <li>
        {{ .title | markdownify }}
        {{ if isset . "heidi" }}
        <a href="http://katalog.ub.uni-heidelberg.de/titel/{{ .heidi }}">HEIDI</a>
        {{ end }}
        <cite>{{ .cite }}</cite>
    </li>
{{ end }}
</ul>