<h2>{{ i18n "eigene-veroeffentlichungen" }}</h2>
<ul>
{{ range $.Site.Data.bibliography.publications.publications }}
    <li>
        {{ .content | markdownify }}
        <cite>{{ .year }}</cite>
    </li>
{{ end }}
</ul>


<h2>{{ i18n "presseartikel" }}</h2>
<ul>
{{ range $.Site.Data.bibliography.press.press }}
    <li>
        {{ if isset . "link" }}
        <a href="{{ .link }}">{{ .title }}</a>
        {{ else }}
        <span>{{ .title }}</span>
        {{ end }}
        <cite>{{ .source }}, {{ .date }}</cite>
        {{ if isset . "audio" }}
        <audio controls>
            <source src="/audio/{{ .audio }}">
            Your browser does not support the audio element
        </audio>
        {{ end }}
    </li>
{{ end }}
</ul>

<h2>{{ i18n "literatur" }}</h2>
<ul>
{{ range $.Site.Data.bibliography.literature.literature }}
    <li>
        {{ .title | markdownify }}
        {{ if isset . "heidi" }}
        <a href="http://katalog.ub.uni-heidelberg.de/titel/{{ .heidi }}">HEIDI</a>
        {{ end }}
        <cite>{{ .cite }}</cite>
    </li>
{{ end }}
</ul>
