<div class='quotegrid columns is-multiline is-gapless'>
    {{ range $.Site.Data.carousel.carousel }}
        <div class="quotegrid-icon column is-3">
            <div class="image is-128x128">
                <figure style="background-image: url({{ .img | relURL }})" ></figure>
            </div>
            <div class='quotegrid-overlay'>
                <div class="image is-128x128">
                    <figure style="background-image: url({{ .img | relURL }})" ></figure>
                </div>
                <blockquote>
                    {{ .quote }}
                    <cite>{{ .attr }}</cite>
                </blockquote>
            </div>  
        </div>
    {{ end }}
</div>
