<!-- phplist form: einziehen -->
<!-- REMINDER: Adapt the action attribute to the actually used list and the numbers in the list[x] and listname[x] fields -->
<div class="columns is-centered">

  <form method="post" action="https://list.collegiumacademicum.de/?p=subscribe&id=6" name="subscribeform" id="einziehen_form">
    <div class="field">
      <label class="label" for="EMAIL">{{ i18n "deine-mailadresse" }}</label>
      <div class="control has-icons-left">
        <input type="email" name="email" value="" class="input required email" id="EMAIL" size="55" />
        <!-- <script language="Javascript" type="text/javascript">
             addFieldToCheck("email", "E-Mail");
        </script> -->
        <span class="icon is-small is-left">
          <i class="icon-mail-alt"></i>
        </span>
        <p class="help is-danger">{{ i18n "mail-notwendig" }}</p>
      </div>
    </div>
    <input type="hidden" name="htmlemail" value="1" />

    <div class="field">
      <label class="label" for="FNAME">{{ i18n "vorname" }}</label>
      <div class="control has-icons-left">
        <input type="text" name="attribute1" class="input" value="" id="FNAME" />
        <!-- <script language="Javascript" type="text/javascript">
             addFieldToCheck("attribute1", "First Name");
        </script> -->
        <span class="icon is-small is-left">
          <i class="icon-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label" for="LNAME">{{ i18n "nachname" }}</label>
      <div class="control has-icons-left">
        <input type="text" name="attribute2" class="input" value="" id="LNAME" />
        <!-- <script language="Javascript" type="text/javascript">
             addFieldToCheck("attribute2", "Last Name");
             </script>
	-->  <span class="icon is-small is-left">
          <i class="icon-user"></i>
        </span>
      </div>
    </div>
    <input type="hidden" name="list[4]" value="signup" />
    <input type="hidden" name="listname[4]" value="Collegium Academicum - Einziehen" />
    <div style="display:none">
      <input type="text" name="VerificationCodeX" value="" size="20">
    </div>
    <div class="field">
      <div class="control">
	<!-- onClick="return checkform();" -->
        <input type=submit name="subscribe" value="{{ i18n "interesse-anmelden" }}"  class="button is-primary">
      </div>
    </div>
  </form>
</div>
