<div class="front-box">
    <a href="/wohnen" ><img src="/img/icons/wohnen.png"></a>
    <div>
        <div><h2><a href="/wohnen" >Living</a></h2></div>
        <p>
            With innovative wooden construction and creative conversion, a new living space is being built on land previously used by the military. The project is called Collegium Academicum and it will provide not only affordable accommodation for over 200 young people but also give room for creative ideas and lively exchange. <a class="mehr" href="/wohnen" >More...</a>
        </p>
    </div>
</div>

<div class="front-box">
    <a href="/bildung" ><img src="/img/icons/bildung.png"></a>
    <div>
        <div><h2><a href="/bildung" >Education</a></h2></div>
        <p>
            Interdisciplinary program, orientation year and project-based learning: the educational concept of the CA involves various academic subjects and deals with the big picture – it encourages critical thinking and fosters initiative. <a class="mehr" href="/bildung" >More...</a>
        </p>
    </div>
</div>

<div class="front-box">
    <a href="/nachhaltigkeit" ><img src="/img/icons/nachhaltigkeit.png"></a>
    <div>
        <div><h2><a href="/nachhaltigkeit" >Sustainability</a></h2></div>
        <p>
            Sustainable thinking right from the start! Resource-aware solutions are at the center of both structural design of the house and future building operations. In community life, the keyword to our sustainability concept is sufficiency. It means to be able to focus on things and objects that really matter in life and to find ways to treat the environment in a responsible manner. <a class="mehr" href="/nachhaltigkeit" >More...</a>
        </p>
    </div>
</div>

<div class="front-box">
    <a href="/selbstverwaltung" ><img src="/img/icons/selbstverwaltung.png"></a>
    <div>
        <div><h2><a href="/selbstverwaltung" >Self-management</a></h2></div>
        <p>
            Self-development through autonomy! The CA is a democratic, self-managed organisation with structures that are transparent and built on consensus. This is what makes us independent, community-oriented and openminded. <a class="mehr" href="/selbstverwaltung" >More...</a>
        </p>
    </div>
</div>

<div class="front-box">
    <a href="/finanzierung" ><img src="/img/icons/finanzierung.png"></a>
    <div>
        <div><h2><a href="/finanzierung" >Funding</a></h2></div>
        <p>
            Our project is supported on a collective basis through many contributors. In terms of funding, we want to be as open as possible by providing an overview of the costs and funding contributions. <a class="mehr" href="/finanzierung" >More...</a>
        </p>
    </div>
</div>
