<div class="front-box">
    <a href="/wohnen" ><img src="/img/icons/wohnen.png"></a>
    <div>
        <div><h2><a href="/wohnen" >Habitat</a></h2></div>
        <p>
          Construction innovante en bois et reconversion urbaine : le nouveau CA se construit sur un terrain anciennement utilisé à des fins militaires – ce sera désormais un espace de vie qui offrira un logement à bas prix à plus de 200 personnes, comprenant de nombreux espaces collectifs. <a class="mehr" href="/wohnen" >Lire la suite...</a>
        </p>
    </div>
</div>

<div class="front-box">
    <a href="/bildung" ><img src="/img/icons/bildung.png"></a>
    <div>
        <div><h2><a href="/bildung" >Éducation</a></h2></div>
        <p>
          Programme d'études interdisciplinaires, année d'orientation et pédagogie de projet - le concept éducatif du CA a pour objectif de favoriser l’ouverture d’esprit (critique), d’encourager le débat démocratique et de créer un espace pour la prise d’initiatives. <a class="mehr" href="/bildung" >Lire la suite...</a>
        </p>
    </div>
</div>

<div class="front-box">
    <a href="/nachhaltigkeit" ><img src="/img/icons/nachhaltigkeit.png"></a>
    <div>
        <div><h2><a href="/nachhaltigkeit" >Écologie</a></h2></div>
        <p>
          La pensée écologique est au cœur de notre projet. Une utilisation raisonnée des ressources aura non seulement lieu durant la phase d’usage, mais a également lieu pendant la phase de construction. Sobriété et convivialité sont les mots clés de notre projet collectif: se concentrer sur l’essentiel et développer une approche responsable envers notre environnement. <a class="mehr" href="/nachhaltigkeit" >Lire la suite...</a>
        </p>
    </div>
</div>

<div class="front-box">
    <a href="/selbstverwaltung" ><img src="/img/icons/selbstverwaltung.png"></a>
    <div>
        <div><h2><a href="/selbstverwaltung" >Autogestion</a></h2></div>
        <p>
          L'autogestion par l'autodétermination ! Indépendant, collaboratif et ouvert – les décisions sont prises en consensus, les structures sont transparentes et l’administration est organisée démocratiquement. <a class="mehr" href="/selbstverwaltung" >Lire la suite...</a>
        </p>
    </div>
</div>

<div class="front-box">
    <a href="/finanzierung" ><img src="/img/icons/finanzierung.png"></a>
    <div>
        <div><h2><a href="/finanzierung" >Financement</a></h2></div>
        <p>
          Le projet est financé et soutenu grâce à de nombreuses contributions. Nous voulons être aussi transparent que possible en ce qui concerne le financement de notre projet et donner un aperçu des coûts et des éléments de financement. <a class="mehr" href="/finanzierung" >Lire la suite...</a>
        </p>
    </div>
</div>
