<div class="front-box">
    <a href="/wohnen" ><img src="/img/icons/wohnen.png"></a>
    <div>
        <div><h2><a href="/wohnen" >Wohnen</a></h2></div>
        Innovativer Holzbau und kreative Umnutzung: Auf ehemals militärisch genutzten Flächen entsteht das neue Collegium Academicum – bezahlbarer Wohnraum für über 200 junge Menschen und Räume für kreative Ideen und lebhaften Austausch. <a class="mehr" href="/wohnen" >Mehr...</a>
    </div>
</div>

<div class="front-box">
    <a href="/bildung" ><img src="/img/icons/bildung.png"></a>
    <div>
        <div><h2><a href="/bildung" >Bildung</a></h2></div>
        Fachübergreifendes Studienprogramm, Orintierungsjahr und Projektorientiertes Lernen – das ganzheitliche und interdisziplinäre Bildungskonzept des CA bietet Orientierung, regt zur kritischen Auseinandersetzung an und schafft Raum für Initiativen. <a class="mehr" href="/bildung" >Mehr...</a>
    </div>
</div>

<div class="front-box">
    <a href="/nachhaltigkeit" ><img src="/img/icons/nachhaltigkeit.png"></a>
    <div>
        <div><h2><a href="/nachhaltigkeit" >Nachhaltigkeit</a></h2></div>
        Nachhaltig gedacht – von Anfang an! Ein bewusster Umgang mit Ressourcen steht nicht nur in Hinblick auf den künftigen Betrieb sondern bereits in der Baukonstruktion im Vordergrund. Im Zusammenleben ist Suffizienz (Genügsamkeit) das Schlüsselwort zu unserem Nachhaltigkeitskonzept: sich auf die wesentlichen Dinge und Gegenstände konzentrieren sowie einen verantwortungsvollen Umgang mit der Umwelt finden. <a class="mehr" href="/nachhaltigkeit" >Mehr...</a>
    </div>
</div>

<div class="front-box">
    <a href="/selbstverwaltung" ><img src="/img/icons/selbstverwaltung.png"></a>
    <div>
        <div><h2><a href="/selbstverwaltung" >Selbstverwaltung</a></h2></div>
        Selbstentfaltung durch Selbstbestimmung! Unabhängig, gemeinschaftlich und offen – das ist das CA durch konsensorientierte und transparente Strukturen in einer demokratisch organisierten Selbstverwaltung. <a class="mehr" href="/selbstverwaltung" >Mehr...</a>
    </div>
</div>

<div class="front-box">
    <a href="/finanzierung" ><img src="/img/icons/finanzierung.png"></a>
    <div>
        <div><h2><a href="/finanzierung" >Finanzierung</a></h2></div>
        Das Projekt wird auch in der Finanzierung gemeinschaftlich und durch viele Beiträge getragen. Wir wollen bei der Finanzierung so offen wir möglich sein geben einen Überblick über die Kosten und bisherigen Finanzierungsbausteine. <a class="mehr" href="/finanzierung" >Mehr...</a>
    </div>
</div>
