<!-- image -->
{{ $DataTarget := substr ( .Get "src" | md5 ) 0 8 }}

{{ $original := .Page.Resources.GetMatch (printf "%s*" (.Get "src")) }}
{{ $extension := index (split $original.Name ".") 1 }}
{{ if eq $extension "svg" }}
    {{ .Scratch.Set "image_big" ($original) }}
    {{ .Scratch.Set "image_medium" ($original) }}
    {{ .Scratch.Set "image_small" ($original) }}
{{ else }}
    {{ .Scratch.Set "image_big" ($original.Resize (printf "%s%s" $.Site.Params.big_imgsize "x q60 Lanczos")) }}
    {{ .Scratch.Set "image_medium" ($original.Resize (printf "%s%s" $.Site.Params.med_imgsize "x q60 Lanczos")) }}
    {{ .Scratch.Set "image_small" ($original.Resize (printf "%s%s" $.Site.Params.sml_imgsize "x q60 Lanczos")) }}
{{ end }}
{{ $image_small := .Scratch.Get "image_small" }}
{{ $image_medium := .Scratch.Get "image_medium" }}
{{ $image_big := .Scratch.Get "image_big" }}
{{ $srcset := printf "%s %sw, %s %sw, %s %sw" $image_small.RelPermalink $.Site.Params.sml_imgsize $image_medium.RelPermalink $.Site.Params.med_imgsize $image_big.RelPermalink $.Site.Params.big_imgsize }}
{{ with .Parent}}
<figure {{ with .Get "style" }}style="{{.}}"{{ end }} >
    <img alt="{{ .Get "alt" }}"
        src="" data-src="{{ $image_medium.RelPermalink }}"
        srcset="" data-srcset="{{ $srcset }}"
        class="image {{ if eq $extension "svg" }}is-shadowless{{ end }}"/>
    {{ with .Get "attr" }}
    <figcaption>
        <cite>© {{.}}</cite>
    </figcaption>
    {{ end }}
</figure>
{{ else}}
<figure class="modal-figure" {{ with .Get "style" }}style="{{.}}"{{ end }} >
    <img alt="{{ .Get "alt" }}"
        src="{{ $image_small.RelPermalink }}"
        srcset="{{ $srcset }}"
        data-target="modal-{{ $DataTarget }}"
        class="image modal-button {{ if eq $extension "svg" }}is-shadowless{{ end }}"/>
    {{ with .Get "attr" }}
    <figcaption>
        <cite>© {{.}}</cite>
    </figcaption>
    {{ end }}
</figure>

<div id="modal-{{ $DataTarget }}" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content {{ if eq $extension "svg" }}box{{ end }}">
            {{ if len .Inner }}
                {{ .Inner }}
            {{ else }}
            <figure>
                <img alt="{{ .Get "alt" }}"
                    src="" data-src="{{ $image_medium.RelPermalink }}"
                    srcset="" data-srcset="{{ $srcset }}"
                    class="image"/>
                {{ if or (.Get "alt") (.Get "attr") (.Get "desc")}}
                <figcaption>
                    {{ with .Get "alt"}}
                    <span>{{.}}</span>
                    {{ end }}
                    {{ with .Get "desc"}}
                    <p>{{. | markdownify }}</p>
                    {{ end }}
                    {{ with .Get "attr"}}
                        <cite>© {{.}}</cite>
                    {{ end }}
                </figcaption>
                {{ end }}
            </figure>
            {{ end }}
        </div>
        <button class="modal-close" aria-label="close"></button>
</div>
{{ end }}
<!-- image -->
