<ul class="citation-list">
{{ range $.Site.Data.bibliography.press.press }}
    <li>
        <time>{{ .date }}</time>
        <span>
        {{ if isset . "link" }}<a href="{{ .link }}">{{ .title }}</a>
        {{ else }}{{ .title }}{{ end }}
        </span>
        <cite>{{ .source }}</cite>
        {{ if isset . "audio" }}
        <audio controls>
            <source src="/audio/{{ .audio }}">
            Your browser does not support the audio element
        </audio>
        {{ end }}
    </li>
{{ end }}
</ul>
