{{ if eq (.Get "source") "team" }}
    {{ .Scratch.Set "quotes_data" $.Site.Data.quotes_team.quotes_team }}
{{ else }}
    {{ .Scratch.Set "quotes_data" $.Site.Data.quotes_supporters.quotes_supporters }}
{{ end }}

<div class='quotegrid columns is-multiline is-gapless is-hidden-mobile'>
        {{ range .Scratch.Get "quotes_data" }}
            <div class="quotegrid-icon column is-{{ $.Params.size }}">
                <div class="image is-128x128">
                    <figure style="background-image: url(/img/{{ $.Params.source }}/{{ .img }})" ></figure>
                </div>
                <div class='quotegrid-overlay'>
                    <div class="image is-{{ $.Params.iconsize }}x{{ $.Params.iconsize }}">
                        <figure style="background-image: url(/img/{{ $.Params.source }}/{{ .img }})" ></figure>
                    </div>
                    <blockquote>
                        {{ .quote }}
                        <cite>{{ .attr }}</cite>
                    </blockquote>
                </div>
            </div>
        {{ end }}
    </div>
